@import "tailwindcss";

:root {
  --primary: #ffe17c;
  --bg-dark: #171e19;
  --accent: #b7c6c2;
  --ui: #ffffff;
  --text: #000000;
  --border: 2px solid #000000;
  --shadow-sm: 4px 4px 0px 0px #000000;
  --shadow-lg: 8px 8px 0px 0px #000000;
  --shadow-xl: 12px 12px 0px 0px #000000;
  --font-display: "Cabinet Grotesk", sans-serif;
  --font-body: "Satoshi", sans-serif;
  --radius: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--primary);
  color: var(--text);
  font-family: var(--font-body);
  font-weight: 500;
  overflow-x: hidden;
}

::selection {
  background: var(--bg-dark);
  color: var(--primary);
}